<a href="https://colab.research.google.com/github/jashasmani/DAUP/blob/main/Viva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv('/content/example.csv')
print(df)

    E_ID    NAME DEPT  SALARY POSITION  EXP
0      1    JASH   IT   700.0       SN  4.0
1      2    NIRJ  NaN   800.0       SN  5.0
2      3    ASDF   IT   900.0       JN  5.0
3      4     ASF   IT   600.0      ASS  5.0
4      5     SDF   CE     NaN       JN  5.0
5      6     SDN  NaN   500.0      ASS  NaN
6      7     XCV   CE   650.0      NaN  NaN
7      8     SFD   CE   680.0       JN  6.0
8      9    FGBN   CE   800.0      ASS  6.0
9     10  SADZXC   EC   900.0      NaN  3.0
10    11    KVJB   EC   856.0       SN  3.0
11    12    MDNF  NaN   789.0      NaN  4.0
12    13    XNVN   EC     NaN       SN  2.0
13    14   MCXNV   EC   456.0      ASS  NaN
14    15   MIDJS   EC   654.0      ASS  2.0

In [22]:
df['DEPT']=df['DEPT'].fillna(method='bfill')
df['DEPT']=df['DEPT'].replace(to_replace='IT',value=1)
df['DEPT']=df['DEPT'].replace(to_replace='CE',value=2)
df['DEPT']=df['DEPT'].replace(to_replace='EC',value=3)
df['SALARY']=df['SALARY'].fillna(0)
avg=df['SALARY'].mean()
df['SALARY']=df['SALARY'].replace(to_replace=0,value=avg)
df['EXP']=df['EXP'].fillna(0)
avg_exp=df['EXP'].mean()
rounded_num1 = round(avg_exp)
df['EXP']=df['EXP'].replace(to_replace=0,value=rounded_num1)
print(df)

    E_ID    NAME  DEPT  SALARY POSITION  EXP
0      1    JASH     1   700.0       SN  4.0
1      2    NIRJ     1   800.0       SN  5.0
2      3    ASDF     1   900.0       JN  5.0
3      4     ASF     1   600.0      ASS  5.0
4      5     SDF     2   619.0       JN  5.0
5      6     SDN     2   500.0      ASS  3.0
6      7     XCV     2   650.0      NaN  3.0
7      8     SFD     2   680.0       JN  6.0
8      9    FGBN     2   800.0      ASS  6.0
9     10  SADZXC     3   900.0      NaN  3.0
10    11    KVJB     3   856.0       SN  3.0
11    12    MDNF     3   789.0      NaN  4.0
12    13    XNVN     3   619.0       SN  2.0
13    14   MCXNV     3   456.0      ASS  3.0
14    15   MIDJS     3   654.0      ASS  2.0

In [35]:
X=np.array(df[["DEPT","EXP"]])
y=np.array(df["SALARY"])


x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.25)
r=LinearRegression()
r.fit(x_train,y_train)

pre=r.predict([[1,5]])
print(pre)

[726.13495277]